@import "./assets/styles/custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    min-width: 320px;
}

#root {
    height: 100%
}